@import "tailwindcss";

@theme {
  --color-oba-orange: #EA6229;
  --color-oba-light: #F6F6F6;
  --color-oba-dark: #3D3D3D;
  --color-background: #F6F6F6;
  --color-foreground: #3D3D3D;

  --animate-slow-zoom: slow-zoom 20s infinite alternate ease-in-out;

  @keyframes slow-zoom {
    0% { transform: scale(1.05); }
    100% { transform: scale(1.15); }
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #F6F6F6;
  --foreground: #3D3D3D;
}

body {
  background: var(--background);
  color: var(--foreground);
}
